*{
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}
h1,h2,h3,h4,h5,h6{
    margin: 0 ;    
}

h1{
    font:{
        family: $font1;
        size: 1.6em;
        weight:900;
    }
}

h2{
    font:{
        family: $font1;
        size: 1.1em;
        weight:700;
    }
}

h3{ 
    font:{
        family: $font1;
        size: 1.5em;
        weight:700;
    }
}

h4{
    font:{
        family: $font1;
        size: 1.25em;
        weight:700;
    }
}
 
h5{
    font:{
        family: $font1;
        size: 1.15em;
        weight:700;
    }
    margin-bottom: 3vh;
}

h6{
    font:{
        family: $font1;
        size: 0.9em;
        weight:400;
    }
}

p{ 
    font:{
        family: $font1;
        size: 0.75em;
        weight:400;
    }
    margin:0;
    color: $gray4; 
    line-height:2em;
   
}

a, button{
    text-decoration:none;
    font:{
        size:0.875em;
    }
}

nav{
    a{
        font:{
            family: $font1;
            size: 0.75em;
            weight:500;
        }
        text-decoration:none;
    }
}

li{
    margin-bottom: 5px;
    font:{
        size:0.875em;
    }
}


/*******************      Button       ********************/

.btn{
    border: 1px solid $black;
    padding: 10px 0;
    background: $black;
}

button{
    border:none;
    background:none;
    outline: none;
}















