

//colors


$white: #FFFFFF; // White
$black: #000000; // Black
$gray1: #d4d4d4; // light gray	
$gray3: #848484; // mid gray
$gray4: #787878; // darker gray


//transition styles

$transition-load: cubic-bezier(0.45, 0.1, 0.02, 1.04);